In [1]:
from faker import Faker
import pandas as pd

In [2]:
fake = Faker()

In [3]:
x = {'table_name': 'n1', 'table_column': ['c1', 'c2', 'c3', 'c4'], 'columns_type': ['street_address', 'name', 'phone_number', 'zipcode']}

In [4]:
table = pd.DataFrame(columns=x['table_column'], index=range(1000))

In [5]:
af = [getattr(fake, field) for field in x['columns_type']]

In [7]:
for i in range(len(table.columns)):
    table[table.columns[i]] = [af[i]() for x in table[table.columns[i]]]

In [8]:
table

,c1,c2,c3,c4
0,484 Jill Lane Suite 721,Richard Woodward,7883776937,33550
1,61110 Ellis Locks,Kelly Thomas,(718)372-4414,27244
2,672 Jerry Forest,Mary Tanner,025.683.5425x20357,59004
3,04293 Daryl Camp,Ashley Page,+1-254-133-3266x860,43260
4,89412 Gonzalez Springs,Jeffrey Elliott,8503622188,64927
...,...,...,...,...
995,9535 Maxwell Common,Scott Kane,(286)685-2763x74188,59625
996,978 Grant Mission,Trevor Mills,933-265-6621x021,86175
997,262 Wallace Alley Apt. 030,Sheila Banks,+1-028-200-5935x310,71617
998,125 Walker Mountains Suite 460,Jason Russell,257-186-1250x9630,41199
999,261 Kelly Mills Suite 012,Krystal Stephenson,178-070-8008x30558,77449